<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
    <div class="navigation">
        <a href="Animation-Example.html">Animation Example</a>
        <a href="FBO-Example.html">FBO Example</a>
    </div>

    </body>
</html>
